.pagination {
  display: flex;
}

.pages {
  margin-top: 2px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  span {
    color: $darkgrey;
    padding: 0 7px;
  }

  input {
    width: 35px;
    padding: 5px;
    appearance: none;
    -moz-appearance: none;
    border: 1px solid $primary;
    border-radius: 5px;
    outline: 0;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.arrow {
  &__left {
    content: "";
    border-right: 2px solid $darkgrey;
    border-top: 2px solid $darkgrey;
    width: 7px;
    height: 7px;
    cursor: pointer;
    display: block;
    transform: rotate(45deg);
  }

  &__right {
    content: "";
    border-left: 2px solid $darkgrey;
    border-bottom: 2px solid $darkgrey;
    width: 7px;
    height: 7px;
    cursor: pointer;
    display: block;
    transform: rotate(45deg);
  }
}
