/* ============================
   Colours
   ============================ */

$white: #FDFCF9;
$lightgrey: #D6D6D6;
$mediumgrey: #B2B2B2;
$darkgrey: #515254;
$primary: #35CECF;
$success: #7ECC3E;
$danger: #E64546;
$warning: #FFC207;



/* ============================
   MISC
   ============================ */

$shadow: 1px 1px 6px 1px rgba(15, 15, 35, .1);
$shadow-up: 3px 3px 8px -7px rgba(15, 15, 35, .3);
$default-radius: 8px;


/* ============================
   Fonts
   ============================ */

$primary-font: "Open Sans", Helvetica, Arial, sans-serif;